<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Lưu cài đặt</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Khởi động lại x-ui</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="Bảng điều khiển">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Đặt IP" desc="Để trống theo mặc định để hệ thống nhận tất cả IP，cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" title="Cổng Web x-ui" desc="Chỉnh lại cổng x-ui, cần khởi động lại x-ui để áp dụng thay đổi này." v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" title="Đường dẫn đến tệp chứng chỉ công khai" desc="Điền vào đường dẫn của tệp chứng chỉ bắt đầu với '/', , cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title="Đường dẫn đến tệp chứng chỉ" desc="Điền vào đường dẫn của tệp chứng chỉ bắt đầu với '/', , cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title="Đường dẫn URL gốc" desc="Phải bắt đầu bằng '/' và kết thúc bằng '/', cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="Người dùng">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="Tên đăng nhập cũ">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Mật khẩu cũ">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Tên đăng nhập mới">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Mật khẩu mới">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Áp dụng</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="Xray">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" title="Tự cấu hình xray" desc="Chỉnh sửa cấu hình xray dựa trên mẫu, cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab="Khác">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Múi giờ" desc="Chỉnh mũi giờ, cần khởi động lại x-ui để áp dụng thay đổi này." v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'Khởi động lại x-ui',
                        content: 'Bạn có chắc muốn khởi động lại x-ui',
                        okText: 'Ok',
                        cancelText: 'Hủy bỏ',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>